#box_1 {
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_a{
	width: 200px;
	height: 200px;
	background: yellow;
}
#box_2 {
	position: fixed;
	bottom: 0;
	right: 0;
  top:95%;
  background: #44accf;
}
